.about_container {
  margin: 0;
  background-color: #e2f1f3;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  min-height: calc(94vh - 60px);
  box-sizing: border-box;
  padding-top: 20px;
}

.about_container img {
  max-width: 325px;
  height: auto;
  border-radius: 9px;
}

.about_text {
  max-width: 600px;
}

@media only screen and (max-width: 900px) {
  .about_container {
    flex-direction: column;
  }
}

@media only screen and (max-width: 700px) {
  .about_text {
    max-width: 300px;
  }
}
